* {
  box-sizing     : border-box;
  font-family    : "Poppins", sans-serif;
  text-decoration: none;
  list-style     : none;
}

/** Quita los margenes a todos los h1 */
h1 {
  margin: 0;
}


/** Header inicial 1 */
.header {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : .20rem;
}

.header__icon--content {
  display        : flex;
  align-items    : center;
  justify-content: start;
  gap            : .5rem;
  padding        : 0 0 0 2.8rem;
}

.header__icon {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  padding        : .30rem .70rem;
  font-size      : 1.3rem;
  font-weight    : bold;
  color          : white;
  background     : black;
  cursor         : pointer;
}

.header__nav {
  background     : rgb(255, 255, 255);
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-wrap      : wrap;
  width          : 100%;
}

.header__list {
  margin         : 0;
  padding        : 0;
  display        : flex;
  justify-content: space-around;
  align-items    : center;
  flex-wrap      : wrap;
}

.header__list-item {
  position: relative;
  display : block;
  padding : 1rem;
}

.header__list-item::after {
  content         : "";
  display         : block;
  width           : 0;
  height          : 2px;
  background-color: #fd0000;
  position        : absolute;
  bottom          : 0;
  left            : 0;
  transition      : width 0.5s;
}

.header__list-item:hover::after {
  width: 100%;
}

.header__list-Login {
  position       : relative;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.header__list-Login::before {
  content         : "";
  position        : absolute;
  top             : 30%;
  right           : 0;
  bottom          : 0;
  height          : 50%;
  width           : 1px;
  background-color: #ccc;
}

.fa-user-circle {
  position : relative;
  top      : .2rem;
  font-size: 1.7rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance        : none;
  display           : none;
}

.header__search-box {
  display    : flex;
  align-items: center;
  padding    : 10px;
}

.header__search-box:hover {
  background-color: #ecececd8;
}

.header__search-input {
  border   : none;
  outline  : none;
  padding  : 5px;
  font-size: 16px;
}

.header__search-icon {
  background  : transparent;
  margin-right: 10px;
  color       : #333;
  font-size   : 20px;
  cursor      : pointer;
}

/** Menu Hamburguesa */
.header__label {
  display: none;
}

/* Estilo para mostrar el menú cuando la casilla está marcada */
.header__checkbox:checked+.header__nav {
  display: block;
}

/** Header secundario Rojo */

.header__dos {
  background     : #B80000;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
  padding-top    : .50rem;
}

.header__titulo {
  /*   background : rgb(126, 0, 199); */
  display    : flex;
  align-items: center;
  width      : 100%;
}

.header__titulo-text {
  /*  background : rgb(25, 240, 18); */
  display       : flex;
  padding       : 0 3rem;
  align-items   : center;
  font-size     : 2.4rem;
  width         : 100%;
  letter-spacing: .30rem;
  color         : white;
}

.header__dos--menu {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-wrap      : wrap;
  width          : 100%;
  padding        : 0 3rem;
}

ul.header__dos--menu {
  margin: 0;
}

.header__dos--menu-link,
.more__menu {
  color: white;
}

.more__menu--dos {
  /* background-color: rgb(194, 253, 56); */
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: center;
  padding        : .26rem;
  gap            : .10rem;
}

.header__dos--menu-item {
  position    : relative;
  margin-right: 20px;
}

.header__dos--menu-item::after {
  content         : "";
  display         : block;
  width           : 0;
  height          : 4px;
  background-color: #ffffff;
  position        : absolute;
  bottom          : -1;
  left            : 0;
  transition      : width 0.5s;
}

.header__dos--menu-item:hover::after {
  width: 100%;
}

.header__dos--menu-item-select:hover {
  background: #1E1E1E;
}

.fa-sort-down {
  position           : relative;
  top                : -0.1429em;
  font-size          : 14px;
  display            : flex;
  align-items        : center;
  justify-content    : center;
  /* background-color: rgb(194, 253, 56); */
}

/** Seccion texas abortion */
.container__section-title,
.container__section-paragraph,
.container__image,
.container__section-image,
.container__section-info,
.container__section-links {
  width : 100%;
  height: auto;
}

.container__section {
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  grid-template-areas  :
    "title image image"
    "paragraph image image"
    "info image image"
    "infor links links";
  padding: 1rem;
}

.container__section-content {
  background    : rgba(201, 201, 201, 0.308);
  display       : flex;
  flex-direction: column;
  padding       : 1rem;
  width         : 100%;
}

.container__section-title {
  /* background : violet; */
  grid-area    : title;
  font-size    : 1.2rem;
  font-weight  : bold;
  text-align   : center;
  border-bottom: 1px solid #bebebe;
}

.container__section-paragraph {
  /* background: rgb(226, 178, 18); */
  grid-area : paragraph;
  font-size : 1.3rem;
  margin-top: 10px;
}

.container__section-info {
  /* background: rgb(158, 160, 158); */
  grid-area : info;
  font-size : 0.8rem;
  margin-top: 10px;
  text-align: right;
}

.container__section-info-list {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;
  gap            : 1rem;
  padding        : 0;
  margin         : 0;
}

.container__image {
  display           : flex;
  align-items       : center;
  justify-content   : center;
  /* background     : rgb(60, 255, 21); */
}

.container__section-image {
  grid-area : image;
  max-width : 100%;
  height    : 100%;
  object-fit: cover;
}

.container__section-links {
  display           : flex;
  align-items       : center;
  justify-content   : center;
  border-top        : #bebebe 1px solid;
  margin-top        : 10px;
  height            : 100%;
  /* background     : #c45696b0; */
  grid-area         : links;
}

.container__section-links-list {
  display   : flex;
  gap       : 1rem;
  list-style: none;
  padding   : 0;
}

.container__section-link {
  text-decoration: none;
  color          : #007BFF;
}

.container__section-link:hover {
  text-decoration: underline;
}

/** Comineza Articulos */
.section__articulo {
  /* background: rgb(126, 29, 29); */
  overflow: hidden;
}

.container__section--art {
  /* background           : rgb(126, 29, 29); */
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(min(176px, 100%), 1fr));
  gap                  : 1rem;
  padding              : 1rem;
}

.container__section--articulo {
  display    : grid;
  place-items: center;
  grid-template-areas:
    "img img img img img"
    "title title title title title"
    "desc desc desc desc desc"
    "footer footer footer footer footer";

  border-radius: 2%;
  max-height   : 100%;
  padding      : .25rem;
  overflow     : hidden;
}

.img1 {
  display          : flex;
  flex-direction   : column;
  place-content    : center;
  padding          : 1rem;
  gap              : 1rem;
  grid-area        : img;
  /* background    : rgb(56, 9, 226); */
}

.img1 img {
  max-width : 100%;
  height    : auto;
  object-fit: cover;
}

h1 {
  grid-area: title;
  font-size: 1.2rem;
  margin   : 0;
}

h4 {
  display  : inline-block;
  grid-area: desc;
  font-size: 1rem;
  height   : 100%;
  width    : 100%;
  margin   : 0;
  color    : rgb(92, 92, 92);
}

footer {
  position     : relative;
  grid-area    : footer;
  display      : grid;
  place-content: end;
  padding      : 0.5rem;
}

.container__sention--hora {
  display    : flex;
  align-items: center;
  font-size  : 0.8rem;
}

.container__sention--hora li {
  list-style  : none;
  margin-right: 0.5rem;
}

.container__sention--hora i {
  margin-right: 0.2rem;
}

/** Seccion 2 */

.article {
  display       : flex;
  flex-direction: column;
}

.article__header {
  display: flex;
  padding: 0.23rem 1rem;
}

.article__content.article__content--columns {
  /* background-color: rgb(16, 219, 175); */
  display        : flex;
  align-items    : center;
  justify-content: space-around;
}

.article__list-text a {
  color: black;
}

.article__list.article__list--numbers li {
  /* background-color: rgb(16, 219, 175); */
  display        : flex;
  align-items    : center;
  justify-content: space-around;
  gap            : 1rem;
}

/**seccion Iconos*/

.container__icons {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-direction : column;
  flex-wrap      : wrap;
  padding        : 1rem;
}

.container__icons-block {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-wrap      : wrap;
  width          : 100%;
  padding        : 1rem;
}

.container__icons-media {
  display    : flex;
  align-items: center;
  width      : 100%;
  height     : 100%;
  padding    : 1rem;
}

.container__icons-item a {
  color    : white;
  font-size: 2rem;
}

.fa-twitter {
  color  : #1DA1F2;
  padding: 2rem;
}

.fa-twitter:hover {
  background: #1DA1F2;
  color     : white;
}

.fa-facebook-f {
  color  : #3B5998;
  padding: 2rem;
}

.fa-facebook-f:hover {
  background: #3B5998;
  color     : white;
}

.fa-instagram {
  color  : #E1306C;
  padding: 2rem;
}

.fa-instagram:hover {
  background: #E1306C;
  color     : white;
}

.container__icons-block--apps {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  width          : 70%;
}

.container__icons-apps {
  display    : flex;
  align-items: center;
  width      : 100%;
  padding    : 1rem;
  gap        : 2rem;
}

/** Footer */
.footer {
  background     : #4C4C4C;
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
  align-items    : center;
}

.footer__container-menu {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-wrap      : wrap;
  width          : 100%;
  padding        : 1rem;
}

.footer__titulo {
  width  : 100%;
  padding: 1rem;
}

.footer__titulo-text {
  color: white;
}

.footer__menu {
  border-right: 1px solid white;
  width       : 200px;
}

.footer__list {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  flex-wrap      : wrap;
  gap            : 1rem;
  padding        : .14rem 0;
  width          : 100%;
}

.footer__list-item {
  color    : white;
  font-size: .90rem;
  position : relative;
}

.footer__list-item::before {
  content         : "";
  display         : block;
  width           : 0;
  height          : 1px;
  background-color: #ffffff;
  position        : absolute;
  bottom          : -2px;
  left            : 0;
  transition      : width 0.5s;
}

.footer__list-item:hover::before {
  width: 26%;
}

.footer__linea {
  width           : 100%;
  height          : 1px;
  background-color: white;
}

.footer__enlaces {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  flex-wrap      : wrap;
  gap            : 1rem;
  padding        : 1rem;
  width          : 100%;
}

.footer__enlaces ul {
  margin : 0;
  padding: 0
}

.footer__enlace {
  text-align: center;
}

.footer__link {
  color     : white;
  font-size : .80rem;
  position  : relative;
  transition: border-color 0.3s ease;
}

.footer__link::after {
  content         : "";
  width           : 0;
  height          : 1px;
  background-color: rgb(253, 253, 253);
  position        : absolute;
  bottom          : -2px;
  left            : 0;
  transition      : width 0.5s ease;
}

.footer__link:hover::after {
  width: 100%;
}

.footer__Copy {
  width: 100%;
}

.footer__Copy-text {
  color     : white;
  font-size : .80rem;
  padding   : 0 1rem;
  text-align: left;
}



@media screen and (max-width: 1169px) {
  .header__search-box {
    width: 100%;
  }

  input.header__search-input {
    width: 100%;
  }
}

@media screen and (max-width: 916px) {
  .header__list {
    width: 100%;
  }

  .header__search-box {
    width: 100%;
  }

  input.header__search-input {
    width: 100%;
  }
}

@media screen and (max-width: 879px) {
  .container__icons-block--apps {
    width: 100%;
  }

  .container__icons-block--social-media {
    width: 100%;
  }

  .container__icons-block--social-media ul {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }
}

@media screen and (max-width: 914px) {
  .header__icon--content {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

  }

  .header__search-box {
    width: 100%;
  }

  input.header__search-input {
    width: 100%;
  }
}

@media screen and (max-width: 727px) {
  .container__section {
    display       : flex;
    flex-direction: column;
    padding       : 1rem;
  }

}

@media screen and (max-width: 589px) {
  .container__icons-apps {
    flex-direction: column;
    align-items   : baseline;
  }

}

@media screen and (max-width: 464px) {
  .footer__menu {
    border-right: none;
    width       : 100%;
    text-align  : center;
  }

  .footer__list-item {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    padding        : 1rem;
    border-bottom  : 1px solid rgba(204, 204, 204, 0.699);
  }

  .footer__list-item:hover::before {
    width: 100%;
  }
}

@media screen and (max-width: 362px) {
  .footer__menu {
    border-right: none;
    width       : 100%;
    text-align  : center;
  }

  .footer__list-item {
    border-bottom: 1px solid rgba(214, 214, 214, 0.692);
  }

  .container__section {
    display       : flex;
    flex-direction: column;
    padding       : 1rem;
  }

  .footer__list-item:hover::before {
    width: 100%;
  }

}